<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lpc.mybatis.mapper.UserMapper">

    <select id="selectAllUser" resultType="User">
        select * from user
    </select>

    <select id="queryUserById" resultType="User">
        select * from user where id = #{id}
    </select>

    <insert id="addUser" parameterType="User">
        insert into user (id,name,age,sex,createTime) values (#{id},#{name},#{age},#{sex},#{createTime})
    </insert>

    <update id="updateUserById" parameterType="User">
        update user set name = #{name},age = #{age},sex=#{sex},createTime=#{createTime} where id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="Integer">
        delete from user where id = #{id}
    </delete>

</mapper>